body{
    margin : 0;
    background-color: #E4FED7;
}

/* =========BANNER========= */
#dssLogo{
float:left;
margin-top:17px;
width:10%;
}


#dssFAQ {
  display: flex;
  justify-content: flex-end;
}

.helpButton {
    background-color: #DFE1DE;
    font-family: Fixed,monospace;
    color: black;
    font-weight:bold;
    text-align:center;
    border-style: double;
    border-color: black;
    border-width: 5px;
    border-radius:50px;
    padding: 10px 32px;   /*Deze maat nog aanpassen*/
}

.helpButton:hover {
    background-color: #FFFFFF;
}

#dssBanner{
    text-align: center;
}

#bannerText{
    display: inline-block;
    width: 80%;
    color:
}

#dssFAQ{
    display: inline-block;
    width: 10%;
}


/*========================*/

/* =========TABS========= */

#tabs {
    width: 100%;

}

#fileTab.tabsStyle, #mainTab.tabsStyle, #infectedTab.tabsStyle, #healthyTab.tabsStyle {
    background-color: #BAFE98;
    border-color: #5D8844;
    border-width: 5px;
    border-radius:40px;
    border-style: solid;
    color: black;
    font-size:19px;
    font-weight:bold;
    width: 30%;
    margin:30px;
}

#fileTab.tabsStyle:hover, #mainTab.tabsStyle:hover, #infectedTab.tabsStyle:hover, #healthyTab.tabsStyle:hover{
    /*background-color:#F3CE93;*/
    border-color: #915203;
}

#fileTab.selectedTab, #mainTab.selectedTab, #infectedTab.selectedTab, #healthyTab.selectedTab{
    background-color: #E4FED7;
}

/*========================*/

/* =========MODAL========= */


#modal {
  margin-top:60px;
  display: none;
  position: fixed;
  z-index: 1;
  border-style:double;
  border-color: #000000;
  border-width: 5px;
  border-radius:40px;
  left: 15%;
  top:0;
  width: 1000px; /* Full width */
  height: 550px; /* Full height */
  background-color:#F3CE93; /* Fallback color */
}

#modalText{
    margin-top: 35px;
    padding-left:50px;
    padding-right:50px;
}


.close-container {
  width: 20%;
  float:right;
  margin: 0;
  height: 40px;
  margin-right:20px;
  margin-top:15px;
}

.closeButton {
  border-style:double;
  border-color:#000000;
  border-width: 5px;
  border-radius:40px;
  padding: 0 15px;
  font-weight: normal;
  float: right;
  height: 100%;

}

.closeButton:hover {
  background-color: #FFFFFF;
}


/*========================*/

/* =========VISUALISATIONS TAB========= */

#countDiv{
    width: 35%;
    height: 400px;
    float:left;
    overflow:hidden;
    text-align:center;
    line-height:45px;
    margin:0;
    margin-top:30px;
}

#firstTextCountDiv{
    color: #373936;
    font-size: 30px;
    font-family: Arial,sans-serif;
}

#secondTextCountDiv{
    color: #373936;
    font-size: 25px;
    font-family: ;
}

#countDisplay{
    display:inline-block;
    margin-left: 15px;
    margin-right: 25px;
}

#countDisplayPercentage{
    display:inline-block;
}

#probDiv{
    width : 65%;
    display:inline-block;
    margin:0;
    margin-top:20px;
}

#probGraph{
    width : 100%;
    height: 100%;
    font-weight:bold;
}

#barDiv{
    width:60%;
    height:400px;
    margin-top: 5px;
    display:inline-block;
}

#barChart{
    width:100%;
    height:400px;
}

#pieDiv{
    width:40%;
    height:400px;
    display:inline-block;
}

#pieChart{
    width:100%;
    height:400px;
}

/*========================*/
