body{
    margin : 0;
    background-color: #E4FED7;
    width:auto;
}

P{
    text-align:left;
    font-weight:bold;
}
/* =========BANNER========= */

#dssBanner{
    text-align: center;
}

#dssLogo{
    width: 10%;
    float: left;
    margin-top: 17px;
}

#bannerText{
    width: 80%;
    display: inline-block;
}

#dssFAQ{
    width: 10%;
    display: inline-block;
}

.faqButton {
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px 26px;
    outline: 0;
}

.faqButton:hover {
    background-color: #EFEFEF;
    border-color: #C8C8C8;
    border-style: solid;
}

/*=========*/

/* =========TABS========= */

#tabsDiv {
    width: 100%;
    text-align:center;
}

#mainTab.tabStyle, #infectedTab.tabStyle, #healthyTab.tabStyle, #fileSelectionTab.tabStyle, #prescriptiveTab.tabStyle{
    width: 20%;
    background-color: #BAFE98;
    border-color: #5D8844;
    border-width: 5px;
    border-radius:40px;
    border-style: solid;
    color: black;
    font-size: 18px;
    font-weight: bold;
    overflow:hidden;
    margin:0.85%;
    text-align:center;
    padding:1.0%;
}
#mainTab.tabStyle,#fileSelectionTab.tabStyle, #prescriptiveTab.tabStyle{
    font-size: 19px;
    line-height:300%;

}
#mainTab.tabStyle:hover, #infectedTab.tabStyle:hover, #healthyTab.tabStyle:hover, #fileSelectionTab.tabStyle:hover, #prescriptiveTab.tabStyle:hover{
    border-color: #915203;
}

#mainTab.selectedTab, #infectedTab.selectedTab, #healthyTab.selectedTab, #fileSelectionTab.selectedTab, #prescriptiveTab.selectedTab{
    background-color: #E4FED7;
}

/*=========*/

/* =========MODAL========= */

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  border-style: double;
  border-color: #000000;
  border-width: 9px;
  border-radius: 40px;
  top: 10%;
  left;10%;
  right:10%;
  bottom:10%;
  width:80%;
  height:80%;
  background-color: #F3CE93;
  overflow-y:scroll;
  overflow-x:hidden;
}

#modalText{
    margin-top: 35px;
    padding-left: 50px;
    padding-right: 50px;
}


.modalButtonContainer {
  width: 20%;
  float: right;
  height: 40px;
  margin-right: 20px;
  margin-top: 15px;
}

/* =====Close Button===== */

.closeButton {
  padding-left: 15px;
  padding-right: 15px;
  float: right;
  height: 100%;
  outline: 0;
}

.closeButton:hover {
  background-color: #EFEFEF;
  border-color: #C8C8C8;
  border-style: solid;
}

/*=========*/

/* =========VISUALISATIONS TAB========= */

/* =====Count Div===== */

#countDiv{
    width: 35%;
    height: 400px;
    float: left;
    overflow: hidden;
    text-align: center;
    line-height: 45px;
    margin: 0;
    margin-top: 30px;
}

#firstTextCountDiv{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    color: #373936;
    font-size: 30px;
    font-family: Arial,sans-serif;
    width:60%;
    margin-bottom:60px;
    margin-top:5px;
}

#countDisplay{
    display: inline-block;
    margin-left: 0px;
    margin-right: 25px;
}

#countDisplayPercentage{
    display: inline-block;
}

/*=========*/

/* =====Probability Graph Div===== */

#probDiv{
    width : 65%;
    display: inline-block;
    margin: 0;
    margin-top: 20px;
}

#probGraph{
    width : 100%;
    height: 100%;
    font-weight: bold;
}

/*=========*/

/* =====Bar Graph Div===== */

#barDiv{
    width: 60%;
    height: 400px;
    margin-top: 5px;
    display: inline-block;
}

#barChart{
    width: 100%;
    height: 400px;
}
/*=========*/

/* =====PieChart Div===== */

#pieDiv{
    width: 40%;
    height: 400px;
    display: inline-block;
}

#pieChart{
    width: 100%;
    height: 400px;
}

/*=========*/


/* =====Table Div===== */
#infectedDiv,#healthyDiv{
    width:100%;

}

#infectedTable1, #healthyTable1{
    width:30%;
    float:left;
    border-collapse: collapse;
    text-align: center;
    border: 3px solid #5D8844;
    margin-top:25px;
    margin-left:1%;
}
#infectedTable2, #healthyTable2{
    width:30%;
    float:left;
    border-collapse: collapse;
    text-align: center;
    border: 3px solid #5D8844;
    margin-top:25px;
    margin-left:4%
}

#infectedTable3, #healthyTable3{
    width:30%;
    float:right;
    border-collapse: collapse;
    text-align: center;
    border: 3px solid #5D8844;
    margin-top:25px;
    margin-right:1%;
}

td, th {
  text-align:centre;
  border-collapse: collapse;
  border: 3px solid #5D8844;
  padding: 0.5rem;
  font: 15px arial, sans-serif;}

 /*=========*/

 /* =====Lower Banner===== */

#dssLowerBanner{
    float:left;
    width: 100%;
    height:160px;
    margin-top: 10%;
    text-align: center;
    background-image: url("LeafImageBackground.jpeg");
    font-weight: bold;
    position:flex;

    bottom:0;
}

#assignment{
    width: 20%;
    height:auto;
    float: left;
    margin-top: 3%;
    margin-left: 3%;;
    background-color: #BAFE98;
    border-color: #5D8844;
    border-radius:40px;
    border-style: solid;
    font-size: 20px;
    line-height:140%;
}

#group{
    width: 25%;
    height:auto;
    display: inline-block;
    margin-top: 8px;
    margin-right: 50px;
    background-color: #BAFE98;
    border-color: #5D8844;
    border-radius:40px;
    border-style: solid;
    border-width: 5px;

}

#groupNumber{
    font-size: 2em;
}

#powerButtonDiv{
    width: 10%;
    height: 100px;
    float: right;
    margin-top: 50px;
    margin-right: 50px;
}

/*=========*/

/* =========DISTRIBUTION TAB========= */

#distributionPage{
    margin-bottom:-30px;
}

/* =====Count Div===== */

#countDivDist{
    width: 35%;
    height: 400px;
    float:left;
    text-align: center;
    line-height: 35px;
    margin: 0;
    margin-top: 30px;
}

#firstTextCountDivDist{
    text-align:center;
    margin: 0 auto;
    color: #373936;
    font-size: 30px;
    font-family: Arial,sans-serif;
    width:60%;
    margin-bottom:40px;
}

#countDisplayDist{
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

#countDisplayPercentageDist{
    display: inline-block;
}

/*=========*/

/* =====Bar Graph Div===== */

#barDivDist{
    width : 65%;
    height: 400px;
    display: inline-block;
    margin: 0;
    margin-top: 20px;
}

/*=========*/

#barChartDist{
    width: 100%;
    height: 400px;
}
/*=========*/

/* =====PieChart Div===== */

#pieDivDist{
    margin-top:20px;
    width: 100%;
    height: 400px;
    display: inline-block;
}

#pieChartPepperbell{
    margin-left:10%;
    width: 40%;
    height: 400px;
    display: inline-block;
    overflow:hidden;
}

#pieChartPotato{
    width: 40%;
    height: 400px;
    display: inline-block;
    overflow:hidden;
    margin-left:1%;
}

#pieChartTomato{
    width: 70%;
    margin-left:15%;
    margin-right:15%;
    margin-top:-30px;
    height:450px;
    display:inline-block;
    overflow:hidden;
}

/* =====Model Summary===== */

#modelSummaryTitle{
    text-align:center;
    color: #373936;
    font-size: 35px;
    font-family: Arial,sans-serif;
    margin-bottom:10px;
    margin-top:-20px;
}

#modelNumbersText{
    text-align:center;
    color: #373936;
    font-size: 30px;
    font-family: Arial,sans-serif;
    margin-bottom:10px;
    margin-left:15px;
    line-height:100%;
}

#modelSummaryDiv{
    text-align:center;
    margin-top:50px;
    display:inline-block;
    width:100%;
    height:470px;
}

#modelNumbersDiv{
    text-align:center;
    float:left;
    width:20%;
    height:100%;
    line-height:400%;
}

#accuracyPlot{
    float:left;
    width:40%;
    height:100%;
}

#precisionPlot{
    float:left;
    width:40%;
    height:100%;
}



/*=========*/

/* =========UPLOAD TAB========= */
#fileUploadText{
    width:95%;
    margin: auto;
    text-align:left;
    font-weight:bold;
    margin-top:35px;
}

#uploadText{
    margin-bottom:40px;
}

#uploadData{
    width:224px;
    height:55px;
}

#uploadContainer{
    width: 100%;
    text-align: center;
}

#textContainer{
    width: 80%;
    border: 5px double #5D8844;
    margin: auto;
}

#uploadButtonContainer{
    display:inline-block;
    width:20%;
    outline: 0;
    margin: 0 auto;
    margin-top:25px;
    margin-bottom:25px;
    border: 5px solid black;
    }

#uploadButton{
    float:left;
    width:100%;
    font-family: sans-serif;
    font-weight: bold;
    font-size:18px;
    outline: 0;
    line-height:300%;
}

#uploadButton:hover{
    background-color: #EFEFEF;
    border-color: #C8C8C8;
    border-style: solid;
}

#dragData{
    width:95%;
    padding-top:35px;
    margin:0 auto;
    border-style: dashed;
    border-width: 2px;
    border-color: #5D8844;
    height: 56px;
    font-size:18px;
    margin-bottom:30px;
}

#dragText{
    padding-top:36px;
}


/*=========*/
